/* ==== IMPORTS ==== */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    margin: 0;
    padding: 0;

    background: transparent;
}

/* ==== SCOREBOARD ==== */

#scoreboard {
    width: 500px;
    height: 60px;
    margin: auto;
    padding: 0;
    overflow: hidden;
    
    background-color: black;
    color: white;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    text-align: center;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ==== SCOREBOARD LEFT ====*/

#scoreboard_left {
    float: left;
    height: 60px;
    width: 170px;

    background: #0051ff;
}

#scoreboard_left_score {
    padding-right: 10px;
    float: right;
}

#scoreboard_left_team {
    padding-left: 10px;
    float: left;
}

#scoreboard_left_spacer {
    color: #555555;
    padding-right: 20px;
    float: right;
}

/* ==== SCOREBOARD RIGHT ====*/

#scoreboard_right {
    float: right;
    height: 60px;
    width: 170px;

    background: orange;
}

#scoreboard_right_score {
    padding-left: 10px;
    float: left;
}

#scoreboard_right_team {
    padding-right: 10px;
    float: right;
}

#scoreboard_right_spacer {
    color: #555555;
    padding-left: 20px;
    float: left;
}

/* ==== PLAYERS ====*/

#players {
    width: 100%;
    margin: 0;
    margin-top: 150px;

    font-family: 'Anton', sans-serif;

    overflow: hidden;
}

/* ==== PLAYERS LEFT ====*/

#players_left {
    float: left;

    width: 175px;
    height: 110px;
    background-color: #0051ff;
    overflow: hidden;

    color: white;

    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#players_left_1_name, #players_left_2_name, #players_left_3_name {
    width: 100%;
    float: left;

    padding-left: 10px;
    padding-top: 5px;
}

#players_left_1_boost, #players_left_2_boost, #players_left_3_boost {
    width: 100%;
    height: 8px;
    float: left;
    background-color: black;
}

/* ==== PLAYERS RIGHT ====*/

#players_right {
    float: right;

    width: 175px;
    height: 110px;
    background-color: orange;
    overflow: hidden;

    color: white;

    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#players_right_1_name, #players_right_2_name, #players_right_3_name {
    width: 100%;
    float: right;

    text-align: right;

    padding-right: 10px;
    padding-top: 5px;
}

#players_right_1_boost, #players_right_2_boost, #players_right_3_boost {
    width: 100%;
    height: 8px;
    float: right;
    background-color: black;
}